In [6]:
import pandas as pd
#kaggle needs to be installed via pip install kaggle

### Get API Key from Kaggle and store in variable

In [7]:
creds = '{"username":"curtpond","key":"7a7ff1741688a4edf1a4f227093b4ba1"}'

### Use path library to create the proper folder structure

In [8]:
from pathlib import Path

cred_path = Path('~/.kaggle/kaggle.json').expanduser()
if not cred_path.exists():
    cred_path.parent.mkdir(exist_ok=True)
    cred_path.write_text(creds)
    cred_path.chmod(0o600)

### Find a data set using command line

Refer to this article for Kaggle cmd line help: https://towardsdatascience.com/how-to-search-and-download-data-using-kaggle-api-f815f7b98080

In [17]:
! kaggle datasets list -s 'baseball'

ref                                           title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
open-source-sports/baseball-databank          Baseball Databank                                7MB  2019-11-17 23:08:56           8692        112  0.7647059
mathchi/hitters-baseball-data                 Hitters Baseball Data                            9KB  2020-07-11 20:53:55           1051         59  1.0
seanlahman/the-history-of-baseball            The History of Baseball                         20MB  2019-11-14 05:40:57           9647        265  0.7647059
jcraggy/baseball                              Baseball                                         3MB  2021-07-28 10:27:28            353         15  1.0
sportradar/baseball                           Sportradar Baseball dataset                       0B  2019-08-30 20:41:18              0         56  0.64705884
ramjidoolla/ipl-data-set                      IPL _Data_Set                                    1MB  2020-09-14 10:57:42          18582        289  0.9705882
bluemumin/kbo-baseball-for-kaggle             kbo baseball for kaggle                        111KB  2020-01-19 07:58:26            643         19  1.0
bdilday/retrosheet-events-1970-2015           Retrosheet events 1970 - 2015                  170MB  2019-11-18 01:16:35            776         24  0.7058824
masseyratings/rankings                        College Football/Basketball/Baseball Rankings   83MB  2022-02-12 20:50:40           1257         27  0.47058824
freshrenzo/lahmanbaseballdatabase             Lahman Baseball Database                         8MB  2017-11-15 18:48:53            943         11  0.6764706
wduckett/moneyball-mlb-stats-19622012         Moneyball                                       19KB  2017-10-19 20:01:07           4072         63  0.8235294
ayessa/predict-baseball-players-position      Baseball Players Height or Weight Prediction    15KB  2022-04-20 12:18:48            198         18  0.8235294
danielmontilla/baseball-databank              Baseball Databank                                9MB  2021-02-09 02:16:26             79          3  0.6875
floser/hitters                                Hitters                                          9KB  2018-02-11 20:43:51           2697         15  0.64705884
cyaris/2016-mlb-season                        2016 MLB Season                                237KB  2018-04-21 18:26:56           2225         36  0.8235294
tosinbells/baseball                           Baseball                                        19KB  2019-08-05 09:58:04             58          2  0.23529412
maxhorowitz/nflplaybyplay2009to2016           Detailed NFL Play-by-Play Data 2009-2018       274MB  2018-12-22 05:39:34          26803        643  0.6764706
apollo2506/landuse-scene-classification       Land-Use Scene Classification                    2GB  2020-10-11 17:24:26            934         29  0.88235295
creepycrap/baseball-player-salary-prediction  Baseball Player Salary Prediction              148KB  2021-06-04 13:06:27            161         14  0.29411766
minnieliang/lahman-batting-data               Lahman Baseball Batting Data                     2MB  2020-08-12 16:08:00             44          4  0.7058824

### Get Titanic data set

In [9]:
import os
iskaggle = os.environ.get('KAGGLE_KERNEL_RUN_TYPE', '')

if iskaggle: path = Path('../input/titanic')
else:
    import zipfile,kaggle
    path = Path('titanic')
    kaggle.api.competition_download_cli(str(path))
    zipfile.ZipFile(f'{path}.zip').extractall(path)

titanic.zip: Skipping, found more recently modified local copy (use --force to force download)

### Create two data frames for Train and Test

In [10]:
df = pd.read_csv(path/'train.csv')
tst_df = pd.read_csv(path/'test.csv')
modes = df.mode().iloc[0]

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
! kaggle datasets list -s 'titanic'

ref                                                 title                                           size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------  ---------------------------------------------  -----  -------------------  -------------  ---------  ---------------
heptapod/titanic                                    Titanic                                         11KB  2017-05-16 08:14:22          40331        770  0.7058824
azeembootwala/titanic                               Titanic                                         12KB  2017-06-05 12:14:37          13681        147  0.8235294
brendan45774/test-file                              Titanic dataset                                 11KB  2021-12-02 16:11:42          23064        281  1.0
rahulsah06/titanic                                  Titanic                                         34KB  2019-09-16 14:43:23           3857         47  0.6764706
prkukunoor/TitanicDataset                           Titanic                                        135KB  2017-01-03 22:01:13           4792         24  0.5882353
hesh97/titanicdataset-traincsv                      Titanic-Dataset (train.csv)                     22KB  2018-02-02 04:51:06          55862        380  0.4117647
fossouodonald/titaniccsv                            Titanic csv                                      1KB  2016-11-07 09:44:58           9105         55  0.5882353
broaniki/titanic                                    titanic                                        717KB  2018-01-30 04:08:45           8056        128  0.1764706
pavlofesenko/titanic-extended                       Titanic extended dataset (Kaggle + Wikipedia)  134KB  2019-03-06 09:53:24           9086        131  0.9411765
jamesleslie/titanic-cleaned-data                    Titanic: cleaned data                           36KB  2018-11-21 11:50:18           5005         54  0.7647059
kittisaks/testtitanic                               test titanic                                    22KB  2017-03-13 15:13:12           1676         32  0.64705884
yasserh/titanic-dataset                             Titanic Dataset                                 22KB  2021-12-24 14:53:06           1418         27  1.0
abhinavralhan/titanic                               titanic                                         22KB  2017-07-30 11:07:55            641         11  0.8235294
cities/titanic123                                   Titanic Dataset Analysis                        22KB  2017-02-07 23:15:54           1638         30  0.5294118
brendan45774/gender-submisson                       Titanic: all ones csv file                      942B  2021-02-12 19:18:32            549         37  0.9411765
ibrahimelsayed182/titanic-dataset                   Titanic dataset                                  6KB  2022-01-27 07:41:54            383          9  1.0
harunshimanto/titanic-solution-for-beginners-guide  Titanic Solution for Beginner's Guide           34KB  2018-03-12 17:47:06           1460         21  0.7058824
sureshbhusare/titanic-dataset-from-kaggle           Titanic DataSet from Kaggle                     33KB  2017-10-12 04:49:39           2751         27  0.4117647
vinicius150987/titanic3                             The Complete Titanic Dataset                   277KB  2020-01-04 18:24:11           1672         24  0.64705884
shuofxz/titanic-machine-learning-from-disaster      Titanic: Machine Learning from Disaster         33KB  2017-10-15 10:05:34           4021         57  0.29411766